
@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
       url('/fonts/leaguegothic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src: url('/fonts/universl_5-webfont.woff2') format('woff2'),
       url('/fonts/universl_5-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Univers';
  font-size: 9pt;
  line-height: 110%;
}

.heading {
  height: 150px;
  line-height: 150px;
  text-align: center;

  font-family: 'LeagueGothic-Regular';
  font-size: 30pt;
  color: red;
}

.heading .logo {
  max-height: 100%;
}

hr {
  margin-top: 0;
  margin-bottom: 1em;
}

.table {
  margin-bottom: 0;
}

.infotable {
  padding-bottom: 0;
}

.infotable td, .infotable th {
  text-align: center;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}

.factuurtable tbody {
  height: 300px;
}

.content .unstyled-table td {
  border-bottom: none !important;
  padding: 0;
}

h2 {
  color: red;
}
