<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Facturen
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="content">
      <ul>
        <% @invoices.each do |i| %>
        <li><%= link_to  "Factuur #{i.created_at}", invoice_path(i) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
