<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Nieuwe Factuur Maken
      </h1>
    </div>
  </div>
</section>

<%= button_to 'Confirm', invoice_index_path, class: 'button is-info' %>
