= form_with(model: contact, local: true) do |form|
  - if contact.errors.any?
    #error_explanation
      h2 De volgende #{pluralize(contact.errors.count, 'fout', 'fouten')}
         zorgden ervoor dat dit contact niet kon worden aangemaakt.
      ul
        - contact.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label "Naam", class: 'label'
    p.control
      = form.text_field :name, class: 'input'
  = form.fields_for :address do |f|
    .field
      = f.label "Straat", class: 'label'
      = f.text_field :street, class: 'input'
    .field
      = f.label "Postcode", class: 'label'
      = f.text_field :zip_code, class: 'input'
    .field
      = f.label "Stad", class: 'label'
      = f.text_field :city, class: 'input'
    .field
      = f.label "Land", class: 'label'
      = f.text_field :country, class: 'input'
  p.control
    = form.submit 'Bestendige toevoegen', class: 'button is-primary'
