.content
  h1 Bestendigen
  table
    thead
      tr
        th Klantnummer
        th Naam
        th Btw-nummer
        th Begunstigde
        th Straat
        th Stad
        th Postcode
        th Land
        th Acties
    tbody
      - @contacts.each do |contact|
        tr
          td = contact.id
          td = contact.name
          td = contact.vatnumber
          td = contact.address.beneficiary
          td = contact.address.street
          td = contact.address.city
          td = contact.address.zip_code
          td = contact.address.country
          td
            .field.is-grouped
              p.control
                = link_to 'Bekijk', contact, class: 'button is-primary'
              p.control
                = link_to 'Details', edit_contact_path(contact), class: 'button is-warning'
              p.control
                = link_to 'Verwijder', contact, method: :delete, data: { confirm: 'Ben je zeker?' }, class: 'button is-danger'
  br
    = link_to 'Nieuw Contact', new_contact_path, class: 'button is-primary'

