@font-face {
  font-family: 'Univers';
  src: url('/fonts/universl_5-webfont.woff2');
}

@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('/fonts/leaguegothic-regular-webfont.woff2');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LeagueGothic-Regular";
  font-variant: small-caps;
}
