$blue: #009ade;
$red: #e43026;
$yellow: #ffd24f;

$rood1: #e43026;
$rood2: #bd271d;
$blauw1: #009ade;
$blauw2: #0077ac;
$blauw3: #0087c2;
$Geel1: #ffd24f;
$Geel2: #edc44a;

$primary: $blue;
$info: $blue;
$warning: $yellow;
$danger: $red;

$family-primary: 'Univers';

section.hero.is-info.is-medium {
  background-color: $info;
}
